header {
  border: 2px dashed black;
  height: 88px;
  display: flex;

  align-items: center;
  padding: 0 16px;
}

.headercontainer {
  border: 1px dashed hotpink;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  background-color: black;
}
.headercontainer svg {
  width: 180px;
  height: 64px;
}

.login {
  margin-left: 955px;
  color: #ff0000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login:hover {
  cursor: pointer;
  color: #ff0000;
}
.loginmain {
  border: 1px dashed hotpink;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-image: url("../images/background3.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.logintext {
  width: 550px;
  height: 32px;
  background-color: #ff0000;
  border-radius: 50px;
  border-color: #ff0000;
}
.fortext {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fortext label {
  margin-left: 23px;
  color: #f2f1ec;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.forpassword {
  display: flex;
  flex-direction: column;
}
.mybutton {
  width: 100px;
  height: 35px;
  border-radius: 50px;
  border: black;
  background-color: #ff0000;
}
.mybutton2 {
  width: 100px;
  height: 35px;
  border-radius: 50px;
  border: black;
  background-color: #ffffff;
}
form :hover {
  cursor: pointer;
  background-color: rgb(82, 1, 1);
}
.mybutton2 :hover {
  background-color: aqua;
}
.mybutton2 {
  margin-bottom: 74px;
}
.loginmain h4,
h3 {
  /* border: 2px dotted blue;*/
  width: 210px;
  height: 36px;
  font-size: 36px;
  margin-left: 85px;
  font-family: "Bebas Neue";
}
.big-login {
  /* border: 2px dotted purple;*/
  display: flex;
  width: 300px;
  margin-bottom: 50px;
  margin-top: -20px;
  font-size: larger;
}
.log {
  margin-right: -130px;
}
.big-login h3 {
  color: #ff0000;
}
.main-container {
  border: 1px dashed rgb(21, 0, 255);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: black;
}
